site_name: Python YouTube Transcript
site_description: Documentation for the Python YouTube Transcript project
site_author: "foerster_work"

theme:
  name: material
  features:
    - navigation.instant
    - navigation.sections
    - toc.integrate

nav:
  - Home: index.md
  - Setup: setup.md
  - Architecture: architecture.md
  - Development: development.md
  - Advanced: advanced.md
  - Prospects & Todos: prospects.md
  - Troubleshooting: troubleshooting.md
  - Changelog:
    - Index: changelog/index.md
    - Unreleased: changelog/unreleased.md
    - v1.0.0 (2025-11-09): changelog/releases/2025-11-09-v1.0.0.md
  - Appendix:
    - Project README: project-readme.md
    - Contributing: contributing.md
    - Status & Updates: status_index.md
    - Legacy (reference only): legacy/documentation-index.md

plugins:
  - search
  - include-markdown:
      rewrite_relative_urls: true
  - mkdocstrings:
      handlers:
        python:
          options:
            show_root_heading: true
  - bibtex:
      bib_file: "docs/references.bib"

markdown_extensions:
  - mdx_math
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.caret
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist
  - pymdownx.tilde
